.billing-page {
    display: flex;
    gap: 1.2rem;
    padding: 2rem;
  }
  .Containerofcustomer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .customer-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.233);
    width: 70vw;
    border-radius: 10px;
  }
  
  .items-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.233);
    width: 70vw;
    border-radius: 10px;

  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
  }
  
  .quantity-control button {
    background-color: #f5f5f5;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .quantity-control span {
    margin: 0 10px;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .cancel-btn {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .create-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }